{% extends 'base.html' %} 
{% load static %}

{% load crispy_forms_tags %}

{% block title %} 
    Create Issue
{% endblock %} 

{% block content %} 
    {% include "user_profile/navbar-profile.html" %}
    <div class="container-flow">
        <div class="container-lg bg-white rounded p-4" style="max-width: 60%;">
            <form method='POST'>
                <h3 class="text-center">Create Issue</h3>
                {% csrf_token %}
                {{ form | crispy }}
                <div class="row p-2 text-center">
                    <div>
                        <button class='btn btn-primary' type='Submit'>Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %} 